{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
<div class="container">

    {% for movie in movies %}
    <table>
    <tr>
        <td>{{ movie.titre }}</td><td><a href="{{path('affichecasting',{'id':movie.id}) }}"><img src ="{{asset('affiches/'~movie.affiche)}}"></a></td>
    </tr>
    </table>
    {% endfor %}

</div>
{% endblock %}
