{% extends 'base.html.twig' %}

{% block title %}Un acteur{% endblock %}

{% block body %}
<table>
    
    <tr>
       <td> {{actor.prenom}} {{ actor.nom }}</td>
        <td><img src ="{{asset('images/'~actor.photo)}}"></td>
    </tr>
    {% for movie in movies %}
        <tr>
            <td> {{movie.titre}} </td>
        </tr>
    {% endfor %}
    
</table>
{% endblock %}
